<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista-de-exercício2</title>
</head>
<body>
    <div id="botao">
        <!-- exercício1 E 2{  -->
         <!-- <button class="btn">
            Crie um novo Quadrado 
            </button>  -->
          <!-- } -->
          <ul></ul>
    </div>


    <script>
        // exercício1 E 2 {
        // var btn = document.querySelector('.btn');

        // function   getRandomColor()   {
        //     var   letters   =   "0123456789ABCDEF"; 
        //     var   color   =   "#";
        //     for   (var   i   =   0;   i   <   6;   i++)   { 
        //         color   +=   letters[Math.floor(Math.random()   *   16)]; 
        //     } 
        //     return   color;
        // }; 

        // var   newColor   =   getRandomColor();  
        // var color = newColor.toString();
        
        // btn.onclick = function(){          
        //     var boxElement = document.createElement('div');

        //       boxElement.setAttribute('style', 'width: 100px;height: 100px;background-color: #f00');
              
        //       var containerElement = document.querySelector('#botao');
        //       containerElement.appendChild(boxElement);

            
        //         boxElement.onmouseover = function() {

        //         boxElement.setAttribute('style', 'width: 100px;height: 100px;background: ' + color);

        //         var containerElement = document.querySelector('botao');
        //         containerElement.appendChild(boxElement);
        //         };
        // };
        
        // }

        // exercício 3 {
            var ulElement = document.querySelector('.botao ul');
            var nomes = ["Diego", 
                         "Gabriel",
                         "Lucas"];
 
            

            for (var i = 0; i < nomes.length; i++) {
                var input = nomes[i];
                var results = input;
                var listItem = document.createElement('li');
                listItem.textContent = results;
                ulElement.appendChild(listItem);
            };

            


        // } 



    </script>
</body>
</html>