<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista-de-exercício2</title>
</head>
<body>
    <div id="botao">
        <!-- exercício1 {  -->
         <button class="btn">
            Crie um novo Quadrado 
            </button> 
          <!-- } -->
  
    </div>


    <script>
        // exercício1 {
        var btn = document.querySelector('.btn');

        var boxElement = document.createElement('div');
        btn.onclick = function(){          
              
              boxElement.setAttribute('style', 'width: 100px;height: 100px;background-color: #f00');
              
              var containerElement = document.querySelector('#botao')
              containerElement.appendChild(boxElement)
        };

        function   getRandomColor()   {
            var   letters   =   "0123456789ABCDEF"; 
            var   color   =   "#";
            for   (var   i   =   0;   i   <   6;   i++)   { 
                color   +=   letters[Math.floor(Math.random()   *   16)]; 
            } 
            return   color;
        }; 

        var   newColor   =   getRandomColor();  
        var color = newColor.toString();

        
        boxElement.onmouseover = function() {

            boxElement.setAttribute('style', 'width: 100px;height: 100px;background: ' + color);
            
            var containerElement = document.querySelector('botao');
            containerElement.appendChild(boxElement);
        };
        // }
    </script>
</body>
</html>